<!DOCTYPE html>
<html>



<head>
	<title>Contacto</title>
</head>



<body>


<h1>Bienvenidos a la página de contacto</h1>
<p>Como pueden ver, las páginas sin bootstrap son mas aburridas.</p>
<ul>
	<li>Primer Elemento de una lista</li>
	<li>Segundo Elemento de una lista</li>
	<li><a href="http://www.google.cl">Ir a Google</a></li>
	<li><a href="https://www.youtube.com/watch?v=TIEleCEtqzA">Top 10 anime betrayals</a></li>
</ul>
<br>
<center>
	Tambien podemos Centrar <br> acabamos de hacer un salto de linea 
	<br> <h1>Hola Mundo</h1>	<h2>Hola Mundo</h2>	<h3>Hola Mundo</h3>
</center>

	<br> <H1>Hola Mundo</H1> <br> <h2>Hola Mundo</h2> <br> <h3>Hola Mundo</h3>
<div>
	<a href="http://localhost:8000/salud/">Volver al inicio</a>
</div>


</body>




</html>