<!DOCTYPE html>
<html>
<head>
	<title>Informacion</title>

	<style>
body {
    background-color: green;
}

h2 {
    color: white;
    text-align: center;
}
h1 {
    color: red;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
	<center>
		<h2>Bienvenido a la página de Información</h2>
	</center>
<br>
<h1>En esta buena pagina se han incluido lo estilos mas basicos</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<ul>
	<li><a href="https://www.sportdiver.com/photos/planets-50-greatest-dives">Mejores lugares de buceo</a></li>
	<li><a href="https://www.youtube.com/watch?v=wZZ7oFKsKzY">Nian Cat (10 hours uncut)</a></li>
	<li>	<a href="http://localhost:8000/salud/">Volver al inicio</a></li>
</ul>
</body>
</html>